tp/tp*/*/build
tests/test*/*/*/build
*.zip

*.aux
*.out
AEDA-T[0-9]-teor.pdf
*.log
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.loa
*.synctex.gz
*.toc
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.dvi
*.lof

.idea
